@{
    ViewBag.Title = "Contact";
}
<h2>Tech Uni Contact Page.</h2>


<address>
    Tech Uni Ave <br />
    St. Petersburg, FL 33713-6399<br />
    <abbr title="Phone">P:</abbr>
    727.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>