@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TechUni</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Tech University</h2>
        <p>
            Welcome to Tech University where we offer a wide variety of classes specified towards each field 
            of study with a variety of different types of learning. While offering both in-person and online classes, we are also able to offer the
            opportunity for our students to study in our simulation labs, gaining hands-on experiences. Tech University has maintained a 3.9 Grade Point
            Average upon graduation with a 90.98% graduation rate since 2011. Our legacy of high-quality staff and
            faculty, an affordable educational program for all students, and higher rates of success post-graduation creates a college in which 
            students can attend to start their careers.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Built By Ny'Queen Woodard</h2>
        <p>This was completed as part of COP2839 ASP.Net at St. Petersburg Colleege</p>
    </div>
    <div class="col-md-4">
        <h2>COP2839 ASP.Net with C# Course</h2>
        <p>This project combines ASP.Net, C#, Windows SDK, Entity Framework, .Net Framework, Model View Controller, SQL Server Express and Azure Clouds Services. </p>
    </div>
</div>